@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root {
   --radius10: 10px;
   --trans: all 0.3s ease;
   --fw400: 400;
   --fw500: 500;
   --color-black: #000000;
   --color-lite-grey: #f1f3f5;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: inherit;
   font-family: inherit;
}

body {
   font-family: 'Poppins', sans-serif;
   color: var(--color-black);
   background-color: var(--color-lite-grey);
   padding-bottom: 3rem;
}

.flex {
   display: flex;
}

.flex-center {
   display: flex;
   align-items: center;
   justify-content: center;
}

.container {
   width: 100%;
   padding: 0 30px;
   max-width: 1600px;
   margin: auto;
   position: relative;
}

.btn-sm {
   border: none;
   padding: 0.2rem 0.5rem;

   cursor: pointer;
   transition: var(--trans);
}
.edit-btn {
   background-color: #e7f5ff;
   color: #1c7ed6;
   border: 1px solid #1c7ed6;
}

.edit-btn:hover {
   background-color: #1c7ed6;
   color: white;
}

.delete-btn {
   background-color: #fff5f5;
   color: #fa5252;
   border: 1px solid #fa5252;
}

.delete-btn:hover {
   background-color: #fa5252;
   color: white;
}

.col-3 {
   display: grid;
   width: 100%;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 1rem;
}

.col-2 {
   display: grid;
   width: 100%;
   grid-template-columns: 1fr 1fr;
   gap: 1rem;
}

/****************************************
NAV BAR  
*****************************************/

nav {
   background-color: var(--color-black);
}

nav .nav-container {
   justify-content: center;
   align-items: center;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
}

nav .nav-container #logo {
   height: 2.3rem;
}

/****************************************
ADMIN BOX  
*****************************************/

.hide {
   opacity: 0;
   pointer-events: none;
   display: none;
}

/*--------------------------------------
ADMIN LINKS  
----------------------------------------*/

#admin-links {
   width: fit-content;
   background-color: white;
   transition: var(--trans);
   position: absolute;
   cursor: pointer;
   top: 1.5rem;
   z-index: 100;
}

#admin-links > div {
   display: flex;
   align-items: center;
   pointer-events: all;
   transition: var(--trans);
}

#admin-links > div:hover {
   background-color: var(--color-lite-grey);
}

#admin-links > div.active {
   color: white;
   background-color: var(--color-black);
}

#admin-links > div > i {
   font-size: 1.5rem;
   padding: 1rem;
}
#admin-links > div > span {
   font-size: 1.1rem;
   font-weight: 500;
   width: 8rem;
}

#admin-links > div > small {
   display: block;
   position: absolute;
   left: 4rem;
   padding: 0.2rem 0.5rem;

   color: white;
   text-align: left;
   white-space: nowrap;
   background-color: black;
   box-shadow: rgba(0, 0, 0, 0.363) 0px 5px 15px;
   transition: var(--trans);
}

/*--------------------------------------
ADMIN PANEL  
----------------------------------------*/

.admin-box {
   padding-top: 1.5rem;
   padding-left: 15.5rem;
}

.admin-box div.heading {
   display: flex;
   align-items: center;
   gap: 1rem;
}

.admin-box .menu-btn {
   font-size: 2rem;
   cursor: pointer;
   margin-bottom: 1rem;
}

.admin-box .heading > h1 {
   margin-bottom: 1rem;
}

/*--------------------------------------
DASHBOARD PANEL  
----------------------------------------*/

#admin-box-dashboard > div:last-child {
   width: 100%;
   display: flex;
   gap: 2rem;
}

#admin-box-dashboard > div > div:first-child {
   flex-basis: 40%;
}
#admin-box-dashboard > div > div:last-child {
   flex-grow: 1;
}

#admin-box-dashboard .card {
   display: flex;
   padding: 1.1rem;
   gap: 1rem;

   border-bottom: 3px solid var(--color-black);
   background-color: white;
   box-shadow: rgba(0, 0, 0, 0.068) 0px 1px 4px;
   cursor: pointer;
}

#admin-box-dashboard .card > div {
   width: 100%;
}
#admin-box-dashboard .card > .icon-box {
   width: fit-content;
   display: flex;
   background-color: var(--color-black);
   color: white;
}
#admin-box-dashboard .card > .icon-box > i {
   flex-shrink: 0;
   font-size: 2.4rem;
   padding: 0.7rem;

   align-self: flex-start;
}
#admin-box-dashboard .card h1 {
   font-size: 1.5rem;
}
#admin-box-dashboard .card span {
   font-weight: 500;
   font-size: 1.2rem;
}

#admin-list {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}
#admin-list .admin-details {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   background-color: var(--color-lite-grey);
   border: 1px solid #0000002a;
   padding: 0.5rem;
}

#admin-list .admin-details .name {
   font-weight: 500;
}
#admin-list .admin-details .email,
#admin-list .admin-details .mobile {
   font-size: 0.8rem;
}
#admin-list .admin-details .profile {
   height: 3.7rem;
   width: 3.7rem;
   border: 1px solid #0000002a;
}

/*--------------------------------------
All-PRODUCTS PANEL  
----------------------------------------*/
/*--------------------------------------
SEARCH SORT FILTER   
----------------------------------------*/
.search-sort-filter {
   margin-bottom: 0.7rem;
}
.search-sort-filter .search-container > form {
   display: flex;
   gap: 0;
}
.search-sort-filter input,
.search-sort-filter select {
   display: block;
   width: 100%;
   height: 2rem;
   padding-left: 0.6rem;
   border: none;
   border: 2px solid #0000003d;
   margin-bottom: 0.3rem;
}
.search-sort-filter select {
   cursor: pointer;
}
.search-sort-filter input:focus,
.search-sort-filter select:focus {
   border: 2px solid #000000;
   outline: none;
}

.search-sort-filter button {
   background-color: #000000;
   color: white;
   height: 2rem;
   letter-spacing: 0.5px;
   border: none;
   cursor: pointer;
   padding: 0 0.5rem;
}
/*--------------------------------------
ALL PRODUCTS   
----------------------------------------*/
.card-list {
   display: grid;
   gap: 1rem;
}

.prod-card {
   display: grid;
   gap: 1rem;
   flex-direction: column;
   background-color: white;
   padding: 1rem;
   border: 2px solid #0000003d;
   transform: var(--trans);
}

.prod-card > .prod-details {
   display: flex;
   gap: 1rem;
}

.prod-card img {
   width: 20%;
   min-width: 10rem;
   object-fit: cover;
   border: 1px solid #0000003d;
}

.prod-card h2 {
   padding-bottom: 0.5rem;
   font-size: 1.5rem;
}

.prod-card table {
   border-collapse: collapse;
   border: 1px solid #0000003d;
}

.prod-card table tr:nth-child(odd) {
   background-color: var(--color-lite-grey);
}

.prod-card table td {
   padding: 0.35rem 1.5rem;
}

.prod-card .prod-card-buttons {
   display: flex;
   gap: 1rem;
   margin-top: 1rem;
}

/*--------------------------------------
PRODUCTS EDIT  
----------------------------------------*/
.edit-prod {
   /* display: none; */
   /* opacity: 0; */
   width: 100%;
   max-width: 51rem;
   border: 1px solid #1c7fd67c;
   background-color: #e7f5ff;
   color: #383838;
   padding: 1rem;

   transition: var(--trans);
}

.edit-prod form {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}

.edit-prod label {
   font-size: 0.8rem;
}

.edit-prod input,
.edit-prod select {
   display: block;
   width: 100%;
   height: 2rem;
   padding-left: 0.6rem;
   border: none;
   border: 1px solid #1c7fd67c;
}

.edit-prod input:focus,
.edit-prod select:focus {
   border: 2px solid #1c7fd6;
   outline: none;
}

.edit-prod select {
   cursor: pointer;
}

.edit-prod .check-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 2rem;
   gap: 0.5rem;
   border: 1px solid #1c7fd67c;
   background-color: white;
   padding: 0.3rem;
}

.edit-prod .check-container span {
   font-size: 0.9rem;
}

.edit-prod .check-container > label {
   cursor: pointer;
   font-size: inherit;
}

.checked {
   background-color: #026ecc;
   display: flex;
   align-items: center;
   color: white;
   padding: 0 0.3rem;
}

.edit-prod input[type='checkbox'] {
   display: none;
}

.edit-prod button {
   align-self: end;
   background-color: #026ecc;
   color: white;
   margin-top: 1rem;
   height: 2rem;
   letter-spacing: 0.5px;
}

.edit-prod button:hover {
   background-color: #0362b6;
}
/*--------------------------------------
CUSTOMERS PANEL  
----------------------------------------*/
#admin-box-all-customers .user-list {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 1rem;
}

#admin-box-all-customers .user-card {
   background-color: white;
   padding: 1rem;
   border: 2px solid #0000003d;
}

#admin-box-all-customers .user-card table {
   border-collapse: collapse;
   margin-top: 1rem;
}

#admin-box-all-customers .user-card table tr:nth-child(odd) {
   background-color: var(--color-lite-grey);
}

#admin-box-all-customers .user-card table td {
   padding: 0.35rem 1.5rem;
}

#admin-box-all-products .prod-card .prod-card-buttons {
   display: flex;
   gap: 1rem;
   margin-top: 1rem;
}
/*--------------------------------------
CUSTOMERS PANEL  
----------------------------------------*/
#admin-box-all-orders .order-list {
   display: grid;
   grid-template-columns: 1fr 1fr;
}
/****************************************
MEDIUM SCREEN [ below -> 786px ] 
*****************************************/

@media only screen and (max-width: 1130px) {
   #admin-box-dashboard > div {
      flex-direction: column;
   }

   #admin-box-all-orders .order-list {
      grid-template-columns: 1fr;
   }

   #admin-box-all-customers .user-list {
      grid-template-columns: 1fr;
   }

   .col-3 {
      grid-template-columns: 1fr;
      gap: 0;
   }

   .col-2 {
      grid-template-columns: 1fr;
      gap: 0;
   }

   .edit-prod .check-container {
      justify-content: flex-start;
   }
}

@media only screen and (max-width: 786px) {
   .admin-box {
      padding-left: 7rem;
   }

   #admin-links > div > span {
      display: none;
   }

   #admin-links {
      flex-basis: 0;
   }

   #admin-links > div:hover > small {
      opacity: 1;
      pointer-events: none;
   }
}

/****************************************
SMALL SCREEN [ below -> 640px ] 
*****************************************/
