body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.card {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.ProductDetailContainer {
  margin-left: 48px;
}

.ProductPrice {
  font-size: 18px;
  font-weight: bold;
  color: #666;
}
.NameDiv {
  width: 214px;
  color: #2d2d2d;
  font-size: 18px;
}
.ProductColor {
  font-size: 18px;
}
.addtoCartBtn_favBtn_container {
  display: flex;
  justify-content: center;
  line-height: 41px;
  margin-right: 166px;
}
.addToCartBtn {
  width: 243px;
  height: 40px;
  background-color: #018849;
  color: white;
  border: none;
}
.favBtnDiv {
  width: 42px;
  height: 42px;
  background-color: #dad5d5;
  border-radius: 50%;
  margin-left: 10px;
}
.favBtn {
  padding: 8px;
}
.detailsContainer {
  margin-top: 20px;
}
.detailsContainer button {
  width: 250px;
  height: 40px;
  font-size: 14px;
  color: #2d2d2d;
  background-color: #ffffff;
  border: none;
  border-top: 1px solid rgb(164, 159, 159);
  text-align: left;
}
#sizeDetails {
  border-bottom: 1px solid rgb(164, 159, 159);
}
.productDetails {
  visibility: hidden;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.active,
.accordion:hover {
  background-color: #ccc;
}
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
.ProductContent,
.BrandDetailsContent,
.sizeDetailsContent {
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 208px;
  border-radius: 4px;
}
nav {
  display: flex;
  flex-direction: column;
}
.topNav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d2d2d;
  color: white;
}
.logo img {
  width: 100px;
  height: 32px;
  margin-top: 12px;
}
.left_top_nav {
  display: flex;
}
.right_top_nav {
  display: flex;
  align-items: center;
}
.women {
  background-color: #525050;
  width: 120px;
  padding-left: 10px;
  text-align: center;
}
.men {
  width: 120px;
  text-align: center;
  border-right: 1px solid grey;
}
.fav img {
  margin-top: 10px;
}
.serachInp input {
  border-radius: 20px;
  height: 38px;
  width: 100%;
}
.serachInp {
  width: 44%;
  border-radius: 20px;
  margin: 0 14px;
}
.middleNav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 58px;
  background-color: #525050;
}
.middleNav div {
  padding-left: 10px;
  padding-right: 10px;
}

.middleNav button {
  background-color: #d01345;
  border: none;
  width: 74px;
  height: 58px;
  color: white;
}
.bottomNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ff385c;
}
.women_btn button,
.men_btn button {
  border: 2px solid black;
  color: black;
  font-weight: bold;
  padding: 14px;
  background-color: #ff385c;
}
.footer_upper {
  display: flex;
  justify-content: center;
  border-top: 1px solid #767676;
  padding-top: 8px;
}
.footer_upper img {
  width: 40px;
  height: 40px;
}
.footer_upper div {
  margin-left: 22px;
  margin-right: 22px;
}
.footer_lower {
  display: flex;
  justify-content: space-around;
  background-color: #eee;
  font-size: 14px;
  color: #525050;
  font-weight: bold;
}
.heading {
  font-size: 18px;
  color: #666;
}
